.page-title {
    display: block !important;
    text-align: center;
    size: 2em;
    color: teal;
}
.form-container {
    width: 40%;
    margin: auto;
}
.center-container{
    text-align: center;
}
.card-container {
    background-color:rgba(0, 181, 173, 0.849);
    padding: 1em;
    border-radius: 20px;
}